h1{
   font-weight: 700;
}

h3{
   font-weight: 700;
}

p {
   font-weight: 400;
   font-size: 1.50em;
   word-spacing: 1px;
 }

footer p{
  color: #ffffff;
}

 a {
   text-decoration: none;
 }

 a:link {
   color: #ffffff;
 }

 a:visited {
   color: fabada;
 }

 a:hover {
   color: black;
   text-decoration: none;
}

li {
  list-style: none;
}
