* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  width: 100%; }

h1 {
  font-weight: 700; }

h3 {
  font-weight: 700; }

p {
  font-weight: 400;
  font-size: 1.50em;
  word-spacing: 1px; }

footer p {
  color: #ffffff; }

a {
  text-decoration: none; }

a:link {
  color: #ffffff; }

a:visited {
  color: fabada; }

a:hover {
  color: black;
  text-decoration: none; }

li {
  list-style: none; }

.modal {
  display: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 0.9em;
  height: 200%;
  width: 100%;
  background-color: rgba(64, 27, 35, 0.7);
  position: absolute;
  top: 0;
  z-index: 1; }

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-content {
  background-color: #92192f;
  width: 80%;
  height: 40%;
  margin-top: -500px;
  padding: 20px; }

.modal-content h3 {
  text-align: center; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background-color: #4256bb; }

.logo {
  display: block;
  width: 80%; }

.nav {
  display: none; }

.nav-small {
  display: none; }

.nav-small-show {
  display: block;
  background-color: rgba(66, 86, 187, 0.8);
  z-index: 1;
  width: 30%;
  top: 20%;
  margin-left: 70%; }

.nav-small-link {
  text-decoration: none; }

nav {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 70%; }

.nav-small-item {
  list-style: none; }

@media (min-width: 768px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    width: 70%; }

  .nav-small-show {
    display: none; } }
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #4256bb; }

.foot-img {
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.btn-menu {
  background-color: inherit;
  width: 50px;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 3em;
  color: #f3d019;
  border: none; }

@media (min-width: 768px) {
  .btn-menu {
    display: none; } }

/*# sourceMappingURL=about.css.map */