* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: arial, sans-serif;
  width: 100%;
  }

.header-content {
  display: flex;
  justify-content: space-around;
  }

.nav {
  display: none;
  }

.nav-small {
  display: none;
  }

.nav-small-show {
  display: block;
  position: fixed;
  background-color: rgb(146, 25, 47);
  z-index: 2;
  width: 50%;
  top: 20%;
  }

.nav-small-link {
  text-decoration: none;
  }

.nav-small-item {
  list-style: none;
  }

nav {
    display: block;
    display: flex;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
  }

.btn-menu {
  width: 500px;
  border: none;
  padding: 40px;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    }
  .nav-small-show{
    display: none;
    }
}
