.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(66,86,187);
  padding-top: 10px;
  padding-bottom: 10px;
}

.foot-img{
  width: 30px;
  align-items: center;
  padding-top: 10px;
}
