.btn-menu{
  background-color: inherit;
  width: 50px;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 3em;
  color: rgb(243,208,25);
  border: none;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
