.btn-menu{
  width: 20px;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 3em;
  color: rgb(222, 201, 25);
  background-color: inherit;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
