.container {
  display: block;
  width: 100%;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.one-card {
  width: 75%;
  border-radius: 5px;
  background-color: rgba(66,86,187, 0.6);
  text-align: center;
  box-shadow: 3px 3px 3px #001a79;
}

@media (min-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
